body {
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(30, 54, 59, 1) 0%,
    rgba(93, 93, 116, 1) 100%
  );
}
.form-container {
  background-color: rgb(233, 214, 214);
  width: 80%;
  max-width: 500px;
  margin: 100px auto;
  padding: 30px;
  border-radius: 8px;
  border: 1px solid black;
  box-shadow: 0px 0px 10px #ccc;
}
h2,
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
label {
  font-weight: bold;
}
input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}
button {
  padding: 10px 20px;
  background-color: #000cee;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #aa0080;
}
p {
  color: red;
}